<div class="chat-text-messages">

    {% for message in messages %}
        {% include '::main/chat/text/message.html.twig' with {'user': app.user} %}
    {% endfor %}

</div>

<div class="chat-text-answer">
    <input class="form-control">
</div>