<div class="chat-text-messages">

    {% for message in messages %}
        {% include '::main/chat/text/message.html.twig' %}
    {% endfor %}

</div>

<div class="chat-text-answer">
    <textarea class="form-control" rows="1"></textarea>
</div>