<div class="chat-dialer-header">

    {{ avatar(interlocutor) }}

    <h1>{{ interlocutor.username }}</h1>

</div>

<div class="chat-dialer-buttons">
    <button class="btn btn-primary">
        <span class="fa fa-microphone"></span>
        Połączenie głosowe
    </button>
    <button class="btn btn-primary">
        <span class="fa fa-video-camera"></span>
        Połączenie video
    </button>
</div>