<div class="dialer-avatar">
    {{ avatar(interlocutor) }}
</div>

<video></video>

<h1>{{ interlocutor.username }}</h1>

<div class="dialer-buttons dialer-buttons-outgoing">

    <button class="btn btn-primary dialer-button-voicechat">
        <span class="fa fa-microphone"></span>
        Połączenie głosowe
    </button>

    <button class="btn btn-primary dialer-button-videochat">
        <span class="fa fa-video-camera"></span>
        Połączenie video
    </button>

</div>

<div class="dialer-buttons dialer-buttons-incoming hidden">

    <button class="btn btn-success dialer-button-answer">
        <span class="fa fa-phone animated tada infinite"></span>
        Odbierz
    </button>

    <button class="btn btn-danger dialer-button-hangUp">
        <span class="fa fa-phone"></span>
        Odrzuć
    </button>

</div>

<div class="dialer-buttons dialer-buttons-calling hidden">

    <button class="btn btn-danger dialer-button-end">
        <span class="fa fa-phone"></span>
        Zakończ
    </button>

</div>