html, body {
    height: 100%;
    background: #fdf6e3;
}

input,
select,
textarea,
button {
    box-shadow: none !important;
}

textarea {
    max-width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
.bootstrap-select .btn:focus {
    outline: none !important;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin: 50px 0px 20px;
    color: #657b83;
}
h1 span {
    margin: 0px 0px 0px 5px;
    color: #586e75;
}

h2 {
    color: #b58900;
}

.base {
    width: 100%;
    max-width: 400px;
    height: inherit;
    margin: 0px auto;
}
.base > div {
    vertical-align: middle;
}

form {
    margin: 40px auto 100px;
}

.links {
    margin: 15px 0px 0px;
    text-align: center;
}