{% for contact in contacts %}

    <li class="contact {% if interlocutor == contact %}active{% endif %}" data-id="{{ contact.id }}">

        <a href="{{ path('chat', {username: contact.username}) }}">

            <div class="contact-icons">
                <span class="hidden animated tada infinite contact-icons-call fa fa-phone"></span>
                <span class="{% if not unread[contact.id] %}hidden{% endif %} animated tada infinite contact-icons-message fa fa-comment"></span>
            </div>

            <span class="fa fa-circle" contact-status></span>

            {{ contact.username }}

        </a>

    </li>

{% endfor %}

{#<li class="active online">
    <a href="">
        <span class="fa fa-circle"></span>
        jakiśTyp
    </a>
</li>#}