{% extends 'base.html.twig' %}

{% block body %}

    {% set to = app.user.id == 14 ? 15 : 14 %}

    <button class="call btn btn-primary" data-to="{{ to }}">
        zadzwoń tam
    </button>

    <button class="answer btn btn-primary">
        odbierz
    </button>

    <video width="300" height="200" autoplay="true">

    </video>

{% endblock %}